[submodule "Rubr/vendor/spdlog"]
	path = Rubr/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rubr/vendor/GLFW"]
	path = Rubr/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Rubr/vendor/matplotlib-cpp"]
	path = Rubr/vendor/matplotlib-cpp
	url = https://github.com/ScottMoisik/matplotlib-cpp
